<div id="wrapfooter">
	<div class="footer-grid">
		<div class="row" id="footer">
			<!-- to top button  -->
			<p class="back-top floatright">
				<a href="#top"><span></span></a>
			</p>
			<!-- 1st column -->
			<div class="c3">
				<img src="images/logo-footer.png" style="padding-top: 70px;" alt="">
			</div>
			<!-- 2nd column -->
			<div class="c3">
				<h2 class="title"><i class="icon-twitter"></i> Follow us</h2>
				<dl style="font-weight: bold;">
					<dt>Vanshika Gupta</dt>
					<dd>Aditi Gupta</dd>
				</dl>
				Brought to us by <br>
				<a href="https://codefundo.io"><img src="/assets//images/socialpack/microsoft.png"></a>
				<ul class="social-links" style="margin-top:15px;">
					<li class="github-link smallrightmargin">
					<a href="https://github.com/vansjyo" class="github has-tip" target="_blank" title="Join us on Facebook">github</a>
					</li>
					<li class="facebook-link smallrightmargin">
					<a href="https://www.facebook.com/vanshika.gupta.52687" class="facebook has-tip" target="_blank" title="Join us on Facebook">Facebook</a>
					</li>
					<li class="google-link smallrightmargin">
					<a href="https://plus.google.com/u/0/100056817834743111928?tab=mX" class="google has-tip" title="Google +" target="_blank">Google</a>
					</li>
					<li class="linkedin-link smallrightmargin">
					<a href="https://www.linkedin.com/in/vanshika-gupta-553085170/" class="linkedin has-tip" title="Linkedin" target="_blank">Linkedin</a>
					</li>
				</ul>
				<div id="ticker" class="query">
				</div>
			</div>
			<!-- 3rd column -->
			<div class="c3">
				<h2 class="title"><i class="icon-envelope-alt"></i> Contact</h2>
				<hr class="footerstress">
				<dl>
					<dt>2536 Zamora Road, Missisipi, 74C</dt>
					<dd><span>Telephone:</span>+1 348 271 9483</dd>
					<dd>E-mail: <a href="more.html">mail@yourweb.com</a></dd>
				</dl>
				<ul class="social-links" style="margin-top:15px;">
					<li class="github-link smallrightmargin">
					<a href="https://github.com/vansjyo" class="github has-tip" target="_blank" title="Join us on Facebook">github</a>
					</li>
					<li class="facebook-link smallrightmargin">
					<a href="https://www.facebook.com/vanshika.gupta.52687" class="facebook has-tip" target="_blank" title="Join us on Facebook">Facebook</a>
					</li>
					<li class="google-link smallrightmargin">
					<a href="https://plus.google.com/u/0/100056817834743111928?tab=mX" class="google has-tip" title="Google +" target="_blank">Google</a>
					</li>
					<li class="linkedin-link smallrightmargin">
					<a href="https://www.linkedin.com/in/vanshika-gupta-553085170/" class="linkedin has-tip" title="Linkedin" target="_blank">Linkedin</a>
					</li>
				</ul>
			</div>
			<!-- 4th column -->
			<div class="c3">
				<h2 class="title"><i class="icon-link"></i> Links</h2>
				<hr class="footerstress">
				<ul>
					<li>Services</li>
					<li>Privacy Policy</li>
					<li>Shortcodes</li>
					<li>Columns</li>
					<li>Portfolio</li>
					<li>Blog</li>
					<li>Contact</li>
					<li>Font Awesome</li>
					<li>Single Project</li>
					<li>Home</li>
				</ul>
			</div>
			<!-- end 4th column -->
		</div>
	</div>
</div>
<!-- copyright area -->
<div class="copyright">
	<div class="grid">
		<div class="row">
			<div class="c6">
				 tequila_mockingbird &copy; 2015. All Rights Reserved.
			</div>
		</div>
	</div>
</div>