<div class="grid">
	<div class="row space-bot">
		<!--Logo-->
		<div class="c4">
			<a href="/">
			<h1>AYUDA</h1>
			</a>
		</div>
		<!--Menu-->
		<div class="c8">
			<nav id="topNav">
			<ul id="responsivemenu">
				<li class="active"><a href="/"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
				<li><a href="/report">Report</a>
				</li>
				<li><a href="/find">Find</a>
				</li>
				<li><a href="/guide">Guide</a>
				<ul>
					<li><a href="/tsunami">Tsunami</a></li>
					<li><a href="/volcano">Volcano</a></li>
					<li><a href="/flood">Flood</a></li>
					<li><a href="/earthquake">Earthquakes</a></li>					
					<li><a href="/blizzard">Blizzard</a></li>
					<li><a href="/avalanche">Avalanche</a></li>
					<li><a href="/cyclone">Cyclone</a></li>					
					<li><a href="/landslide">Lanslide</a></li>
				</ul>
				</li>				
				<li class="last"><a href="/thingspeakcharts">Charts</a></li>
				<li class="last"><a href="/notifications"><i class="icon-bookmark bookmarkicon"></i>Notifs</a></li>
				
			</ul>
			</nav>
		</div>
	</div>
</div>