<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
	<title>Salique Theme Multipurpose Responsive </title>
<!-- STYLES & JQUERY 
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- change skin color -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>
	<script src="/assets/js/jquery-1.9.0.min.js"></script><!-- the rest of the scripts at the bottom of the document -->
</head>
<body>
	<div class="boxedtheme">


	<!-- TOP LOGO & MENU
		================================================== -->
		<% include partials/header.ejs %>
		<!-- ================/TOP LOGO & MENU============= -->

<!-- HEADER
	================================================== -->
	<div class="undermenuarea">
		<div class="boxedshadow">
		</div>
		<div class="grid">
			<div class="row">
				<div class="c8">
					<h1 class="titlehead">SOS GUIDE: AVALANCHE</h1>
				</div>
				<div class="c4">
					<h1 class="titlehead rightareaheader"> </h1>
				</div>
			</div>
		</div>
	</div>

<!-- CONTENT
	================================================== -->
	<div class="grid" style="padding-top: 3%; ">
		<div class="row space-bot">
			<div class="c12">
				<div class="royalcontent">
					<h1 class="royalheader">What to do during an Avalanche?</h1>
				</div>
			</div>
		</div>
		<h5 align="center">DURING AN AVALANCHE</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<h5>If you become caught in an avalanche, try to: </h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Push machinery, equipment or heavy objects away from you to avoid injury. </li>
							<li>Grab onto anything solid (trees, rocks, etc.) to avoid being swept away.</li>
							<li>Keep your mouth closed and your teeth clenched. </li>
							<li>If you start moving downward with the avalanche, stay on the surface using a swimming motion. </li>
							<li>Try to move yourself to the side of the avalanche. </li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<h5>When the avalanche slows, attempt to:</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Push yourself towards the surface. </li>
							<li>Make an air pocket in front of your face using one arm. </li>
							<li>Push the other arm towards the surface. </li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<h5>When the avalanche stops, begin to: </h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Dig yourself out, if possible. </li>
							<li>Relax your breathing, particularly if you cannot dig yourself out. </li>
							<li>Stay calm and shout only when a searcher is near. </li>
						</ul>
					</p>
				</div>
			</div>
		</div>

	</div><!-- end grid -->

<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->

</div>
<!-- JAVASCRIPTS
	================================================== -->
	<!-- all -->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- cycle -->
	<script src="/assets/js/jquery.cycle.js"></script>

	<!-- flexslider -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>

</body>
</html>