<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
	<title>AYUDA</title>
<!-- STYLES & JQUERY 
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- change skin color -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>
	<script src="/assets/js/jquery-1.9.0.min.js"></script><!-- the rest of the scripts at the bottom of the document -->
</head>
<body>
	<div class="boxedtheme">


	<!-- TOP LOGO & MENU
		================================================== -->
		<% include partials/header.ejs %>
		<!-- ================/TOP LOGO & MENU============= -->

<!-- HEADER
	================================================== -->
	<div class="undermenuarea">
		<div class="boxedshadow">
		</div>
		<div class="grid">
			<div class="row">
				<div class="c8">
					<h1 class="titlehead">SOS GUIDE: BLIZZARD</h1>
				</div>
				<div class="c4">
					<h1 class="titlehead rightareaheader"> </h1>
				</div>
			</div>
		</div>
	</div>

<!-- CONTENT
	================================================== -->
	<div class="grid" style="padding-top: 3%; ">
		<div class="row space-bot">
			<div class="c12">
				<div class="royalcontent">
					<h1 class="royalheader">What to do before, during and after Blizzard?</h1>
				</div>
			</div>
		</div>
		<h5 align="center">BEFORE A BLIZZARD</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">

					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>When a blizzard or heavy powder is approaching, it's a good idea to attach a safety rope between your house and any farm buildings you may need to visit during the storm.  You can use the rope to easily find your way when the storm may result in poor visibility.</li>

							<li>       Exercise from time to time to enable circulation in your hands and feet.  In general, it's a good idea to constantly move in order to avoid falling asleep.  If you are shoveling snow from around your car, be careful to not exhaust yourself.  Take constant breaks.</li>
							
							<li>       Exhausting yourself in extremely cold weather can be fatal as it can cause heart attacks or sweats.</li>
							
							<li>       If you own a farm, put your animals in a shelter.  Generally, if the shelter is a solid structure, place the animals inside.  Once this is done, firmly secure all openings.  Put your animals away before sheltering yourself and other family members.  Ensure that the water you leave out for them doesn't freeze.  Many animals have died of thirst of the winter because although water was abundant, it froze and they were unable to drink it. </li>
							
							<li>       Remember to have stocked up with emergency survival supplies for your family and animals. </li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<h5 align="center">DURING A BLIZZARD</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>During a raging winter storm, stay indoors.  If you must go out, dress accordingly.  The outer layer of your clothes should be waterproof and wind stopping.  Your jacket should have a hood.  Wear mittens - they are warmer than gloves - and be sure to cover your head because a lot of your body heat can escape from your head, if left uncovered. </li>

							<li>         If you are caught in a blizzard or snowstorm, stay calm and don't get out of your car.  Let fresh air circulate into your car by slightly opening the windows on the side of the car that is sheltered from the wind.  Turn on your engine for about ten minutes each half hour if the exhaust system is working.  Beware of exhaust gases and periodically check that the exhaust pipe is not blocked.  Remember, carbon monoxide is an odorless gas that can be fatal.</li>

							<li>     In open areas, visibility may be reduced to almost nothing during a blizzard or heavy powder and it's very easy to get lost.  Avoid walking to other buildings or farm dwellings unless you have attached a safety rope to guide you. </li>

							<li>         If you must travel during a storm, do so during the day and inform someone of your itinerary, route, and expected arrival time.</li>

							<li>       Stay alert and look out for other cars and rescue teams. </li>
						</ul>
						
						</ul>
					</p>
				</div>
			</div>
		</div>
		<h5 align="center">AFTER A BLIZZARD</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>         If you see any downed power lines in your yard or in the neighborhood, call the power company if the phones are working. And no matter what, don't go outside to take a closer look. They could have power and that could cause a life threatening injury or even death. (Remember that if your power lines are down, a land line may not work because those lines may also be down. But your cellphone may work.)</li>

							<li>       Make sure no one has sustained any injuries from doing outdoor activities such as cleaning snow off a roof or digging out and apply first aid or call emergency services if possible.</li>
							
							<li>       Verify that the batteries in your carbon monoxide detector are working - especially important if  you are burning any type of fuel in your house. (And be sure that you are using any fueled heat sources properly to avoid fire and carbon monoxide hazards.)</li>
							
							<li>       Check for any broken water pipes and shut off the water supply until you can get someone out there to repair them. It might be a bit of work getting to your shutoff if you do not have one in your house but your house can flood pretty quickly if left open. (And if the power/heat is out, drain your water system to ensure no further damage occurs.)</li>
							
							<li>       Check that your pets are OK and give them comfort so they know it all is good. They will pick up on your fear and it can put them in an agitated state.</li>
							
							<li>       If you have a chimney, check it to be sure it has no structural damage. And if you light a fire, be sure the smoke is not backing up into your home.</li>
							
							<li>       Repair any broken windows. Temporary repairs can include covering them with plywood or taping blankets over them to offer some insulation until a repair person can come to do a proper repair.</li>
							
							<li>       If the house sustained structural damage, stay with a neighbor if you can. If not, be sure to stay in a safe part of the house.</li>
							
							<li>       Check your yard for downed trees and other damage that will need to be addressed to make conditions safe.</li>
							
							<li>       Listen to the radio (or TV if you have power) for any news of road closures, etc. so that you are not getting in the way of emergency workers.</li>
							
						</ul>
					</p>
				</div>
			</div>
		</div>

	</div><!-- end grid -->

<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->

</div>
<!-- JAVASCRIPTS
	================================================== -->
	<!-- all -->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- cycle -->
	<script src="/assets/js/jquery.cycle.js"></script>

	<!-- flexslider -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>

</body>
</html>