<!DOCTYPE HTML>
<html>
<head>
	<title>AYUDA </title>
<!-- STYLES & JQUERY 
	================================================== -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- Change skin color here -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>

</head>
<body>
	<div class="boxedtheme">


<!-- TOP LOGO & MENU
	================================================== -->
	<% include partials/header.ejs %>
	<!-- ================/TOP LOGO & MENU============= -->


<!-- SUBHEADER
	================================================== -->
	<% include partials/sub_header.ejs %>
	<!-- ================/SUBHEADER=================== -->


<!-- CONTENT
	================================================== -->


<!-- ALERT MESSAGE
	================================================== -->
	<% if(messages.info){ %>
	<div class="alert alert-info" role="alert">
		<%= messages.info %>
	</div>
	<% } %>
	<!--===================/ALERT===================== -->


<!-- FORM
	==================================================  -->
	<div class="grid" style="padding-top:5%;">

		<div class="row space-bot">
			<!--INTRO-->
			<div class="c12">
				<div class="royalcontent">
					<h1 class="royalheader">Cancel Reported People</h1>
				</div>
			</div>

		</div>

		<div class="row d-flex justify-content-center space-bot">
			<div class="col-md-9 border border-primary">

				<!-- note -->
				<div class="h6 bg-info" style="padding: 10px;">NOTE : Use your reference ID provided to you during reporting to cancel your report request.</div>

				<!-- FORM start -->
				<form action="/cancelReport" method="post" class="needs-validation" novalidate style="padding: 10px;">


				<!-- FORM FOR CANCELLING REPORT
					============================================= -->
					<div class="form-row">
						<div class="col-md-12 mb-3">
							<label>Enter Reference ID*</label>
							<input type="text" class="form-control" name="cancel_ID" placeholder="contactnumber@xyz" required>
							<div class="invalid-feedback">
								Please provide an ID.
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label>Choose Cancel Type</label>
							<select id="cancel_type" name="cancel_type" class="custom-select" required>
								<option selected disabled="true">Open this select menu</option>
								<option value="found">Found</option>
								<option value="missing">Missing</option>
							</select>
							<div class="invalid-feedback">
								Please provide a valid state.
							</div>
						</div>
					</div>

					<!-- ================END=========================== -->


					<button class="btn btn-primary btn-block bg-info" type="submit">Submit form</button>
				</form>
			</div>
		</div>

		<!-- ===============FORM END=================== -->


		<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
	'use strict';
	window.addEventListener('load', function() {
		console.log("hey its me");
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    	form.addEventListener('submit', function(event) {
    		if (form.checkValidity() === false) {
    			event.preventDefault();
    			event.stopPropagation();
    		}
    		form.classList.add('was-validated');
    	}, false);
    });
}, false);
})();
</script>

</div>


<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->


</div>
<!-- JAVASCRIPTS
	================================================== -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<!-- all-->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- CALL opacity on hover images -->
	<script type="text/javascript">
		$(document).ready(function(){
			$("img.imgOpa").hover(function() {
				$(this).stop().animate({opacity: "0.6"}, 'slow');
			},
			function() {
				$(this).stop().animate({opacity: "1.0"}, 'slow');
			});
		});
	</script>


	<!-- CALL tabs -->
	<script type="text/javascript">
		$(document).ready(function() {	
			$('#tabs li a:not(:first)').addClass('inactive');
			$('.container:not(:first)').hide();	
			$('#tabs li a').click(function(){		
				var t = $(this).attr('href');
		if($(this).hasClass('inactive')){ //added to not animate when active
			$('#tabs li a').addClass('inactive');		
			$(this).removeClass('inactive');
			$('.container').hide();
			$(t).fadeIn('slow');	
		}			
		return false;
	}) //end click
		});
	</script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</body>
</html>