<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
	<title>AYUDA</title>
<!-- STYLES & JQUERY 
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- change skin color -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>
	<script src="/assets/js/jquery-1.9.0.min.js"></script><!-- the rest of the scripts at the bottom of the document -->
</head>
<body>
	<div class="boxedtheme">


	<!-- TOP LOGO & MENU
		================================================== -->
		<% include partials/header.ejs %>
		<!-- ================/TOP LOGO & MENU============= -->

<!-- HEADER
	================================================== -->
	<div class="undermenuarea">
		<div class="boxedshadow">
		</div>
		<div class="grid">
			<div class="row">
				<div class="c8">
					<h1 class="titlehead">SOS GUIDE: CYCLONE</h1>
				</div>
				<div class="c4">
					<h1 class="titlehead rightareaheader"> </h1>
				</div>
			</div>
		</div>
	</div>

<!-- CONTENT
	================================================== -->
	<div class="grid" style="padding-top: 3%; ">
		<div class="row space-bot">
			<div class="c12">
				<div class="royalcontent">
					<h1 class="royalheader">What to do before, during and after Cyclone?</h1>
				</div>
			</div>
		</div>
		<h5 align="center">BEFORE A CYCLONE</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">

					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Check your insurances(home and contents, landlord, car) are up to date so you're properly covered.</li>
							<li>Clear your gutters, downpipes and storm drains regularly.</li>
							<li>Trim trees and branches near your home.</li>
							<li>Secure any loose objects outside your home, like garden furniture, bins or children's toys.</li>
							<li>Make sure shade sails, awnings and outdoor umbrellas are properly fitted and secure.</li>
							<li>Get your roof checked for damage or corrosion.</li>
							<li>Make sure all doors, windows, shutters, blinds and curtains are closed. In serious storms or cyclones, tape any windows not protected by shutters in a criss-cross pattern.</li>
							<li>Make electronic copies of any important documents, like marriage/birth certificates and passports, and save them to a memory device or a secure online location.</li>
							<li>Unplug non-essential electrical items and use surge protectors.</li>
							<li>Prepare an emergency storm kit containing things like a first aid kit, a torch, batteries, candles, matches, bottled water and an emergency contact list.</li>
							<li>If you have elderly neighbours, check that they're prepared too.</li>
							<li>Think of your pets and how to keep them safe. Make sure your dog is registered and micro-chipped, and that you have plenty of pet food.</li>
							<li>Listen out for storm warnings on the TV and radio</li>
							<li>Park your car somewhere safe, away from trees.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<h5 align="center">DURING A CYCLONE</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>If you're able to stay in your home, make sure you know where its strongest point is, and shelter under a mattress, strong table or bench if necessary. Stay there and keep your emergency kit close by.</li><li>Stay off the roads and never drive through flood water.</li><li>If possible, remain indoors. If you do have to go outside, watch out for trees, branches or other loose objects that could cause injury.</li><li>Follow news reports for updates on the storm and instructions from the authorities.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<h5 align="center">AFTER A CYCLONE</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Don't venture outside to check damage until it's safe.</li>
							<li>When you do go outside, stay away from fallen trees, power lines, and flood water.</li>
							<li>Contact your insurer as early as possible for help. Do this before you start any major repair work.</li>
							<li>Make a detailed list and take photos/videos of any damaged items.</li>
							<li>Remove any damaged items that could pose a health or injury risk from your home (e.g. rotting food, broken glass).</li>
							<li>If your insurance documents are damaged, don't worry - your insurer will have a copy.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>

	</div><!-- end grid -->

<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->

</div>
<!-- JAVASCRIPTS
	================================================== -->
	<!-- all -->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- cycle -->
	<script src="/assets/js/jquery.cycle.js"></script>

	<!-- flexslider -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>

</body>
</html>