<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
	<title>Salique Theme Multipurpose Responsive </title>
<!-- STYLES & JQUERY 
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- Change skin color here -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>
	<script src="/assets/js/jquery-1.9.0.min.js"></script><!-- scripts at the bottom of the document -->
</head>
<body>
	<div class="boxedtheme">
<!-- TOP LOGO & MENU
	================================================== -->
	<% include partials/header.ejs %>
	<!-- ================/TOP LOGO & MENU============= -->
	
<!-- HEADER
	================================================== -->
	<div class="undermenuarea">
		<div class="boxedshadow">
		</div>
		<div class="grid">
			<div class="row">
				<div class="c8">
					<h1 class="titlehead">SOS GUIDE: EARTHQUAKE</h1>
				</div>
				<div class="c4">
					<h1 class="titlehead rightareaheader"> </h1>
				</div>
			</div>
		</div>
	</div>
<!-- CONTENT
	================================================== -->
	<div class="grid">
		<div class="shadowundertop">
		</div>
		<div class="row">
			<div class="c12">
				<h1 class="maintitle ">
					<span>What to do before, during and after Earthquake?</span>
				</h1>
			</div>
		</div>
		<div class="row">
			
			<!-- begin description area -->
			<div >
				<p>
					<h2>BEFORE AN EARTHQUAKE</h2> 
					<h6>
						<ul style="list-style-type:disc">
							
							<li>Make sure you have a fire extinguisher, first aid kit, a battery-powered radio, a flashlight, and extra batteries at home.
							</li><li>Learn first aid.
							</li><li>Learn how to turn off the gas, water, and electricity.
							</li><li>Make up a plan of where to meet your family after an earthquake.
							</li><li>Don't leave heavy objects on shelves (they'll fall during a quake).
							</li><li>Anchor heavy furniture, cupboards, and appliances to the walls or floor.
							</li><li>Learn the earthquake plan at your school or workplace.
							</li>
						</ul>
					</h6>	
					
				</p>
				
				<p>
					<h2>DURING AN EARTHQUAKE</h2> 
					<h6>
						<ul style="list-style-type:disc">
							
							
							<li><b>Stay calm!</b> If you're indoors, stay inside. If you're outside, stay outside.
							</li><li>If you're indoors, stand against a wall near the center of the building, stand in a doorway, or crawl under heavy furniture (a desk or table). Stay away from windows and outside doors.
							</li><li>If you're outdoors, stay in the open away from power lines or anything that might fall. Stay away from buildings (stuff might fall off the building or the building could fall on you).
							</li><li>Don't use matches, candles, or any flame. Broken gas lines and fire don't mix.
							</li><li>If you're in a car, stop the car and stay inside the car until the earthquake stops.
							</li><li>Don't use elevators (they'll probably get stuck anyway).
							</li>
						</ul>
					</h6>	
					
				</p>

				<p>
					<h2>AFTER AN EARTHQUAKE</h2> 
					<h6>
						<ul style="list-style-type:disc">
							
							
							
							<li>Check yourself and others for injuries. Provide first aid for anyone who needs it.
							</li><li>Check water, gas, and electric lines for damage. If any are damaged, shut off the valves. Check for the smell of gas. If you smell it, open all the windows and doors, leave immediately, and report it to the authorities (use someone else's phone).
							</li><li>Turn on the radio. Don't use the phone unless it's an emergency.
							</li><li>Stay out of damaged buildings.
							</li><li>Be careful around broken glass and debris. Wear boots or sturdy shoes to keep from cutting your feet.
							</li><li>Be careful of chimneys (they may fall on you).
							</li><li>Stay away from beaches. Tsunamis and seiches sometimes hit after the ground has stopped shaking.
							</li><li>Stay away from damaged areas.
							</li><li>If you're at school or work, follow the emergency plan or the instructions of the person in charge.
							</li><li>Expect aftershocks.
							</li>
						</ul>
					</h6>	
					
				</p>
			</div><!-- end description area -->
			
			
		</div>
	</div><!-- end grid -->


<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->

</div>
<!-- JAVASCRIPTS
	================================================== -->
	<!-- all -->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- twitter -->
	<script src="/assets/js/jquery.tweet.js"></script>

	<!-- cycle -->
	<script src="/assets/js/jquery.cycle.js"></script>

	<!-- flexslider -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>

	<!-- CALL flexslder -->
	<script>
// Can also be used with $(document).ready()
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "slide"
	});
});
</script>
</body>
</html>