<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
	<title>Salique Theme Multipurpose Responsive </title>
<!-- STYLES & JQUERY 
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- Change skin color here -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>
	<script src="/assets/js/jquery-1.9.0.min.js"></script><!-- scripts at the bottom of the document -->
</head>
<body>
	<div class="boxedtheme">
<!-- TOP LOGO & MENU
	================================================== -->
	<% include partials/header.ejs %>
	<!-- ================/TOP LOGO & MENU============= -->
	
<!-- HEADER
	================================================== -->
	<div class="undermenuarea">
		<div class="boxedshadow">
		</div>
		<div class="grid">
			<div class="row">
				<div class="c8">
					<h1 class="titlehead">SOS GUIDE: FLOOD</h1>
				</div>
				<div class="c4">
					<h1 class="titlehead rightareaheader"> </h1>
				</div>
			</div>
		</div>
	</div>
<!-- CONTENT
	================================================== -->
	<div class="grid" style="padding-top: 3%; ">
		<div class="row space-bot">
			<div class="c12">
				<div class="royalcontent">
					<h1 class="royalheader">What to do before, during and after a Flood?</h1>
				</div>
			</div>
		</div>
		<h5 align="center">BEFORE A FLOOD (When Flooding is Forecast)</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<h5>Be alert. </h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Monitor your surroundings.</li>
							<li>Monitor Weather Radio, local television and radio stations.</li>							
							<li>If a flash flood warning is issued for your area: Climb to safety immediately.</li>
							<li>Flash floods develop quickly. Do not wait until you see rising water.</li>
							<li>Get out of low areas subject to flooding.</li>
							<li>If driving, do not drive through flooded roadways!</li>
						</ul>
					</p>

					<h5>Assemble disaster supplies:</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Drinking water - Fill clean containers.</li>
							<li>Food that requires no refrigeration or cooking.</li>
							<li>Cash.</li>
							<li>Medications and first aid supplies.</li>
							<li>Clothing, toiletries.</li>
							<li>Battery-powered radio.</li>
							<li>Flashlights.</li>
							<li>Extra batteries.</li>
							<li>Important documents:  insurance papers, medical records, bank account numbers.</li>
						</ul>
					</p>

					<h5>Be prepared to evacuate.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Identify places to go.</li>
							<li>Identify alternative travel routes that are not prone to flooding.</li>
							<li>Plan what to do with your pets.</li>
							<li>Fill your car's gas tank.</li>
							<li>If told to leave, do so quickly.</li>
						</ul>
					</p>

					<h5>Review your Family Disaster Plan.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Discuss flood plans with your family.</li>
							<li>Decide where you will meet if separated.</li>
							<li>Designate a contact person who can be reached if family members get separated.  Make sure every family member has the contact information.</li>
						</ul>
					</p>

					<h5>Protect your property.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Move valuables and furniture to higher levels.</li>
							<li>Move hazardous materials (such as paint, oil, pesticides, and cleaning supplies) to higher locations.</li>
							<li>Disconnect electrical appliances.  Do not touch them if you are wet or standing in water.</li>
							<li>Bring outside possessions indoors or tie them down securely.  This includes lawn furniture, garbage cans, and other movable objects.</li>  
							<li>Seal vents to basements to prevent flooding.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>


		<h5 align="center">DURING A FLOOD</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<h5>Be alert. </h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Monitor your surroundings.</li>
							<li>Monitor Weather Radio, local television and radio stations.</li>
							<strong>Don't drive unless you have to.<br>
							If you must drive, travel with care.</strong>
							
							<li>Make sure your vehicle has enough fuel.</li>
							<li>Follow recommended routes.  DO NOT sightsee.</li>
							<li>Avoid disaster areas.  Your presence might hamper rescue or other emergency operations and put you at further risk.</li>
							<li>Watch for washed out roads, earth slides, and downed trees or power lines.</li>
							<li>Be especially cautious at night, when it is harder to recognize flood dangers.</li>
							<li>If the vehicle stalls, abandon it.</li>
							<li>If water rises around your car, leave the vehicle immediately.  Climb to higher ground as quickly as possible.</li>
						</ul>
					</p>

					<h5>Get to high ground - Climb to safety!</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li> Get out of low areas that may be subject to flooding.</li>
							<li> Avoid already-flooded areas and do not attempt to cross flowing water.</li>
							<li>    Stay away from power lines and electrical wires.</li>
						</ul>
					</p>

					<h5>Evacuate immediately, if you think you are at risk or are advised to do so!</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Act quickly. Save yourself, not your belongings.</li>
							<li>	Move to a safe area before access is cut off by rising water.</li>
							<li>	Families should use only one vehicle to avoid getting separated and reduce traffic jams.</li>
							<li>	Shut off water, gas, and electrical services before leaving.</li>
							<li>	Secure your home: lock all doors and windows.</li>
							<li>	If directed to a specific location, go there.</li>
						</ul>
					</p>

					<h5>Never try to walk or swim through flowing water.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>	If flowing water is above your ankles, STOP! Turn around and go another way.</li>
							<li>If it is moving swiftly, water 6 inches deep can knock you off your feet.</li>
							<li>Be aware that people have been swept away wading through flood waters.</li>
							<li>NEVER allow children to play around high water, storm drains, creeks, or rivers.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>

		<h5 align="center">AFTER A FLOOD</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<h5>Wait until it is safe to return.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Monitor Weather Radio or local television and radio stations.</li>
							<li>Do not return to flooded areas until authorities indicate it is safe to do so.</li>
							<li>Do not visit disaster areas following a flood.  Your presence may hamper urgent emergency response and rescue operations.</li>
						</ul>
					</p>

					<h5>Travel with care.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Follow recommended routes.  DO NOT sightsee.</li>
							<li>Watch for washed out roads, earth slides, and downed trees or power lines.</li>
							<li>Stay away from downed power lines.</li>
						</ul>
					</p>

					<h5>If a building was flooded, check for safety before entering.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Do not enter a building if it is still flooded or surrounded by floodwater.</li>  
							<li>Check for structural damage.  Inspect foundations for cracks or other damage.</li>
							<li>Turn off any outside gas lines at the meter tank.</li>
							<li>Do not enter a building that has flooded until local building officials have inspected it for safety.</li>
						</ul>
					</p>

					<h5>Use extreme caution when entering buildings.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Wear sturdy shoes.  The most common injury following a disaster is cut feet.</li>
							<li>Use ONLY battery-powered lighting.  Flammable material may be present.</li>
							<li>Look for fire hazards (such as damaged gas lines, flooded electrical circuits, or submerged furnaces).</li>
							<li>Check for gas leaks.  If you smell gas or hear a blowing or hissing noise, open a window and quickly leave the building.  If possible turn off the gas at the outside main valve.  Call the gas company.</li>
							<li>Report broken utility lines to appropriate authorities.</li>
							<li>Check for electrical system damage (sparks, broken or frayed wires, or the smell of burning insulation).  Turn off the electricity at the main circuit breaker if you can reach it without stepping in water.</li>
							<li>Examine walls, floors, doors, windows, and ceilings for risk of collapsing.</li>
							<li>Watch out for animals that might have entered with the floodwaters.</li>
							<li>Let the building air out to remove foul odors or escaping gas. </li>
						</ul>
					</p>

					<h5>Get professional help.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;" >
							
							
							<li>Seek necessary medical care.  Do not neglect minor wounds or illnesses.</li>
							<li>Food, clothing, shelter, and first aid are available from the American Red Cross.</li>
							<li>If the gas has been turned off for any reason, it must be turned back on by a professional.</li>
							<li>Have an electrician check the electrical system and appliances.</li>
							<li>Wells should be pumped out and the water tested for purity before drinking.</li>
							
							
						<li>	If flowing water is above your ankles, STOP! Turn around and go another way.</li>
						<li>If it is moving swiftly, water 6 inches deep can knock you off your feet.</li>
						<li>Be aware that people have been swept away wading through flood waters.</li>
						<li>NEVER allow children to play around high water, storm drains, creeks, or rivers.</li>
					</ul>
					</p>

					<h5>When making repairs, protect your property from future flood damage.</h5>
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Follow local building codes.</li>
							<li>Use flood-resistant materials and techniques.</li>  
							<li>Elevate electrical components above the potential flood height.</li>
							<li>Elevate utilities (washer, dryer, furnace, and water heater) above the level of anticipated flooding.</li>
							<li>Consider elevation of the entire structure.</li>
							<li>Install a backflow valve in the sewer system.</li>
						</ul>
					</p>
					
				</div>
			</div>
		</div>


		
		

	</div><!-- end grid -->

<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->

</div>
<!-- JAVASCRIPTS
	================================================== -->
	<!-- all -->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- twitter -->
	<script src="/assets/js/jquery.tweet.js"></script>

	<!-- cycle -->
	<script src="/assets/js/jquery.cycle.js"></script>

	<!-- flexslider -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>

	<!-- CALL flexslder -->
	<script>
// Can also be used with $(document).ready()
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "slide"
	});
});
</script>
</body>
</html>