<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
	<title>AYUDA</title>
<!-- STYLES & JQUERY 
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- change skin color -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>
	<script src="/assets/js/jquery-1.9.0.min.js"></script><!-- the rest of the scripts at the bottom of the document -->
</head>
<body>
	<div class="boxedtheme">
<!-- TOP LOGO & MENU
	================================================== -->
	<% include partials/header.ejs %>
	<!-- ================/TOP LOGO & MENU============= -->

<!-- HEADER
	================================================== -->
	<div class="undermenuarea">
		<div class="boxedshadow">
		</div>
		<div class="grid">
			<div class="row">
				<div class="c8">
					<h1 class="titlehead">SOS GUIDE 101</h1>
				</div>
			<!---<div class="c4">
				<h1 class="titlehead rightareaheader"><i class="icon-map-marker"></i> Call Us Now 1-318-107-432</h1>
			</div> --->
		</div>
	</div>
</div>
<!-- CONTENT
	================================================== -->
	<div class="grid">
		<div class="shadowundertop">
		</div>
		<!-- begin categories -->
		<div class="c12">
				<div class="royalcontent">
					<h1 class="royalheader">WHAT TO DO IN THE FACE OF A DISASTER?</h1>
				</div>
			</div>
		
		<!-- end categories -->
		<div class="row space-top">
			<div id="content">
				<!-- box 1 -->
				<div class="boxtwocolumns cat2">
					<div class="boxcontainer boxcontainer2col">
						<div class="mosaic-block cover mosaicover2col">
							<div class="mosaic-overlay">
								<img src="https://static01.nyt.com/images/2018/07/31/world/31myanmar-floods-1/merlin_141804063_a4be9881-127b-402e-8373-c0a3092cba5f-articleLarge.jpg?quality=75&auto=webp&disable=upscale" alt="">
							</div>
							<a href="/flood" target="_blank" class="mosaic-backdrop blue">
								<div class="details">
									<b><br/><br/></b>
									<p style="font-size:40px; line-height: 1;">
										What to do before, during and after Flood?
									</p>
									<i class="icon-link mosaiclink"></i>
								</div>
							</a>
						</div>
						<h1><a href="#">FLOOD</a></h1>
						<p>
							WHAT TO DO IN CASE OF FLOOD?
						</p>
					</div>
				</div>
				<!-- box 2 -->
				<div class="boxtwocolumns cat1">
					<div class="boxcontainer boxcontainer2col">
						<div class="mosaic-block cover mosaicover2col">
							<div class="mosaic-overlay">
								<img src="https://www.nature.com/polopoly_fs/7.43767.1493027792!/image/GettyImages-623580860_web.jpg_gen/derivatives/landscape_630/GettyImages-623580860_web.jpg" alt="">
							</div>
							<a href="/earthquake" target="_blank" class="mosaic-backdrop orange">
								<div class="details">
									<b><br>
										<br/></b>
										<p style="font-size:40px; line-height: 1;">
											What to do before, during and after Earthquake?
										</p>
										<i class="icon-link mosaiclink"></i>
									</div>
								</a>
							</div>
							<h1><a href="#">EARTHQUAKE</a></h1>
							<p>
								WHAT TO DO IN CASE OF AN EARTHQUAKE?
							</p>
						</div>
					</div>
					<!-- box 3 -->
					<div class="boxtwocolumns cat1 cat3">
						<div class="boxcontainer boxcontainer2col">
							<div class="mosaic-block cover mosaicover2col">
								<div class="mosaic-overlay">
									<img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Cyclone_Catarina_from_the_ISS_on_March_26_2004.JPG" alt="">
								</div>
								<a href="/cyclone" target="_blank" class="mosaic-backdrop green">
									<div class="details">
										<b><br/><br/></b>
										<p style="font-size:40px; line-height: 1;">
											What to do before, during and after Cyclone/Hurricane?
										</p>
										<i class="icon-link mosaiclink"></i>
									</div>
								</a>
							</div>
							<h1><a href="#">CYCLONE/HURRICANE</a></h1>
							<p>
								WHAT TO DO IN CASE OF A CYCLONE/HURRICANE?
							</p>
						</div>
					</div>
					<!-- box 4 -->
					<div class="boxtwocolumns cat2 cat3">
						<div class="boxcontainer boxcontainer2col">
							<div class="mosaic-block cover mosaicover2col">
								<div class="mosaic-overlay">
									<img src="https://www.basicplanet.com/wp-content/uploads/2013/05/tsunami_picture.jpg" alt="">
								</div>
								<a href="/tsunami" target="_blank" class="mosaic-backdrop orangered">
									<div class="details">
										<b><br/><br/></b>
										<p style="font-size:40px; line-height: 1;">
											What to do before, during and after Tsunami?
										</p>
										<i class="icon-link mosaiclink"></i>
									</div>
								</a>
							</div>
							<h1><a href="#">TSUNAMI</a></h1>
							<p>
								WHAT TO DO IN CASE OF A TSUNAMI?
							</p>
						</div>
					</div>
					<!-- box 5 -->
					<div class="boxtwocolumns cat2 cat3">
						<div class="boxcontainer boxcontainer2col">
							<div class="mosaic-block cover mosaicover2col">
								<div class="mosaic-overlay">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-QYyYP_TN8luWCTIkVG4IskD55h9M2o5SqO-hW1g7Zxl635mePg" alt="">
								</div>
								<a href="/volcano" target="_blank" class="mosaic-backdrop lila">
									<div class="details">
										<b><br/><br/></b>
										<p style="font-size:40px; line-height: 1;">
											What to do before, during and after Volcanic Eruption?
										</p>
										<i class="icon-link mosaiclink"></i>
									</div>
								</a>
							</div>
							<h1><a href="#">VOLCANIC ERUPTION</a></h1>
							<p>
								WHAT TO DO IN CASE OF A VOLCANIC ERUPTION?
							</p>
						</div>
					</div>
					<!-- box 6 -->
					<div class="boxtwocolumns cat2 cat3">
						<div class="boxcontainer boxcontainer2col">
							<div class="mosaic-block cover mosaicover2col">
								<div class="mosaic-overlay">
									<img src="http://www.icdo.org/files/cache/0c3604615673732e0cb165e2cef468f5_f249.jpg" alt="">
								</div>
								<a href="/landslide" target="_blank" class="mosaic-backdrop aqua">
									<div class="details">
										<b><br/><br/></b>
										<p style="font-size:40px; line-height: 1;">
											What to do before, during and after Landslide?
										</p>
										<i class="icon-link mosaiclink"></i>
									</div>
								</a>
							</div>
							<h1><a href="#">LANDSLIDE</a></h1>
							<p>
								WHAT TO DO IN CASE OF A LANDSLIDE?
							</p>
						</div>
					</div>
					<!-- box 7 -->
					<div class="boxtwocolumns cat2 cat3">
						<div class="boxcontainer boxcontainer2col">
							<div class="mosaic-block cover mosaicover2col">
								<div class="mosaic-overlay">
									<img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/12/15/11/avalanche.jpg?w968h681" alt="">
								</div>
								<a href="/avalanche" target="_blank" class="mosaic-backdrop gold">
									<div class="details">
										<b><br/><br/></b>
										<p style="font-size:40px; line-height: 1;">
											What to do during an Avalanche?
										</p>
										<i class="icon-link mosaiclink"></i>
									</div>
								</a>
							</div>
							<h1><a href="#">AVALANCHE</a></h1>
							<p>
								WHAT TO DO IN CASE OF AN AVALANCHE?
							</p>
						</div>
					</div>
					<!-- box 8 -->
					<div class="boxtwocolumns cat2 cat3">
						<div class="boxcontainer boxcontainer2col">
							<div class="mosaic-block cover mosaicover2col">
								<div class="mosaic-overlay">
									<img src="https://snowbrains.com/wp-content/uploads/2017/08/02-groundhog-day-blizzard-2011-min.jpg" alt="">
								</div>
								<a href="/blizzard" target="_blank" class="mosaic-backdrop teal">
									<div class="details">
										<b><br/><br/></b>
										<p style="font-size:40px; line-height: 1;">
											What to do before, during and after Blizzard?
										</p>
										<i class="icon-link mosaiclink"></i>
									</div>
								</a>
							</div>
							<h1><a href="#">BLIZZARD</a></h1>
							<p>
								WHAT TO DO IN CASE OF A BLIZZARD?
							</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end grid -->
<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->
	
</div>
<!-- JAVASCRIPTS
	================================================== -->
	<!-- all -->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- cycle -->
	<script src="/assets/js/jquery.cycle.js"></script>

	<!-- twitter -->
	<script src="/assets/js/jquery.tweet.js"></script>

	<!-- filtering -->
	<script src="/assets/js/jquery.isotope.min.js"></script>

	<!-- hover effects -->
	<script type="text/javascript" src="/assets/js/mosaic.1.0.1.min.js"></script>

	<!-- CALL hover effects -->
	<script type="text/javascript">  			
		$(document).ready(function($){				
			$('.cover').mosaic({
					animation	:	'slide',	//fade or slide
					hover_x		:	'578'		//Horizontal position on hover
				});		    
		});		    
	</script>

	<!-- CALL isotope filtering -->
	<script>
		$(document).ready(function(){
			var $container = $('#content');
			$container.imagesLoaded( function(){
				$container.isotope({
					filter: '*',
					animationOptions: {
						duration: 750,
						easing: 'linear',
						queue: false,
					}
				});
			});
			$('#nav a').click(function(){
				var selector = $(this).attr('data-filter');
				$container.isotope({ 
					filter: selector,
					animationOptions: {
						duration: 750,
						easing: 'linear',
						queue: false,
					}
				});
				return false;
			});
			$('#nav a').click(function (event) {
				$('a.selected').removeClass('selected');
				var $this = $(this);
				$this.addClass('selected');
				var selector = $this.attr('data-filter');
				$container.isotope({
					filter: selector
				});
    return false; // event.preventDefault()
});
		});
	</script>
</body>
</html>