<!DOCTYPE HTML>
<html>
<head><meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
	<title>Salique Theme Multipurpose Responsive </title>
<!-- STYLES & JQUERY 
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- change skin color -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>
	<script src="/assets/js/jquery-1.9.0.min.js"></script><!-- the rest of the scripts at the bottom of the document -->
</head>
<body>
	<div class="boxedtheme">


<!-- TOP LOGO & MENU
	================================================== -->
	<% include partials/header.ejs %>
	<!-- ================/TOP LOGO & MENU============= -->


	<div class="undermenuarea">
		<div class="boxedshadow">
		</div>
	<!-- SLIDER AREA
		================================================== -->
		<div id="da-slider" class="da-slider">
			<!--Slide 1-->
			<div class="da-slide">
				<h2> Report Missing People </h2>
				<p>
					Here, you can report the people who you know but have not been able to reach out sice the time the disaster broke out. Fill in the required details of the person and get to know if any body has witnessed them.
				</p>
				<a href="#" class="da-link" style="width:202px;">Report People</a>
				<div class="da-img">
					<img src="https://ramblingrecruiter.files.wordpress.com/2012/08/finding-people1.jpg" alt="">
				</div>
			</div>
			<!--Slide 2-->
			<div class="da-slide">
				<h2>Find Missing People</h2>
				<p>
					Find out if the stranger you found or the person you're looking for has already been reported as missing by any of their aquantance and report to them about the finding.
				</p>
				<a href="#" class="da-link" style="width:192px;">Find People</a>
				<div class="da-img">
					<img src="https://cdn5.vectorstock.com/i/1000x1000/01/89/missing-people-man-and-woman-missing-children-vector-14680189.jpg" alt="">
				</div>
			</div>
			<!--Slide 3-->
			<div class="da-slide">
				<h2> SOS Guide </h2>
				<p>
					Basic DOs and DON'Ts to take care of, in the face of a disaster. This will guide you to help yourself before any external help is approached.
				</p>
				<a href="#" class="da-link" style="width:230px;">SOS Guide</a>
				<div class="da-img">
					<img src="https://us.123rf.com/450wm/juliarstudio/juliarstudio1604/juliarstudio160401617/55464162-natural-disaster-icons-set-in-flat-style-for-any-design.jpg?ver=6" alt="">
				</div>
			</div>
			<nav class="da-arrows">
				<span class="da-arrows-prev"></span>
				<span class="da-arrows-next"></span>
			</nav>
		</div>
	</div>
<!-- UNDER SLIDER - BLACK AREA
	================================================== -->
<!-- <div class="undersliderblack">
	<div class="grid">
		<div class="row space-bot">
			<div class="c12">
				
				<div class="c4 introbox introboxfirst">
					<div class="introboxinner">
						<span class="homeicone">
						<i class="icon-bolt"></i>
						</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</div>
				</div>
				
				<div class="c4 introbox introboxmiddle">
					<div class="introboxinner">
						<span class="homeicone">
						<i class="icon-cog"></i>
						</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</div>
				</div>
				
				<div class="c4 introbox introboxlast">
					<div class="introboxinner">
						<span class="homeicone">
						<i class="icon-lightbulb"></i>
						</span>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="shadowunderslider">
</div> -->


<!-- START content area
	================================================== -->
	<div class="grid">
		<div class="row space-bot">
			<!--INTRO-->
			<div class="c12">
				<div class="royalcontent">
					<h1 class="royalheader">WELCOME TO AYUDA</h1>
				</div>
			</div>
			<!--Box 1-->
			<div class="c4">
				<div class="noshadowbox">
					<h5>REPORT MISSING/FOUND PEOPLE</h5>
					<p>
						Report people who you know but have not been able to reach out sice the time the disaster broke out. Fill in the requi
					</p>
					<h2 class="title hometitlebg"><i class="icon-qrcode smallrightmargin"></i>REPORT</h2>
				</div>
			</div>
			<!--Box 2-->
			<div class="c4">
				<div class="noshadowbox">
					<h5>FIND MISSING PEOPLE</h5>
					<p>
						Find out if the stranger you found or the person you're looking for has already been reported as missing by any of their aquantance.
					</p>
					<a href=https://materializecss.com/color.html"><h2 class="title hometitlebg"><i class="icon-cog smallrightmargin"></i> FIND</h2></a>
				</div>
			</div>
			<!--Box 3-->
			<div class="c4">
				<div class="noshadowbox">
					<h5>SOS GUIDE</h5>
					<p>
						Basic DOs and DON'Ts to take care of, in the face of a disaster. This will guide you to help yourself before any external help is approached.
					</p>
					<h2 class="title hometitlebg"><i class="icon-user" style="margin-right:10px;"></i> GUIDE</h2>
				</div>
			</div>
		</div>
	<!-- SHOWCASE
		================================================== -->
		<div class="row space-top">
			<div class="c12 space-top">
				<h1 class="maintitle ">
					<span>REPORTED PEOPLE</span>
				</h1>
			</div>
		</div>
		<div class="row space-bot">
			<div class="c12">
				<div class="list_carousel">
					<div class="carousel_nav">
						<a class="prev" id="car_prev" href="#"><span>prev</span></a>
						<a class="next" id="car_next" href="#"><span>next</span></a>
					</div>
					<div class="clearfix">
					</div>
					<ul id="recent-projects">
						<!--featured-projects 1-->
						<li>
							<div class="featured-projects">
								<div class="featured-projects-image">
									<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
								</div>
								<div class="featured-projects-content">
									<h1><a href="#">Dolor sit amet</a></h1>
									<p>
										porta acean pulvinar
									</p>
								</div>
							</div>
						</li>
						<!--featured-projects 2-->
						<li>
							<div class="featured-projects">
								<div class="featured-projects-image">
									<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
								</div>
								<div class="featured-projects-content">
									<h1><a href="#">Nunc elementum </a></h1>
									<p>
										porta acean pulvinar
									</p>
								</div>
							</div>
						</li>
						<!--featured-projects 3-->
						<li>
							<div class="featured-projects">
								<div class="featured-projects-image">
									<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
								</div>
								<div class="featured-projects-content">
									<h1><a href="#">Sit amet</a></h1>
									<p>
										porta acean pulvinar
									</p>
								</div>
							</div>
						</li>
						<!--featured-projects 4-->
						<li>
							<div class="featured-projects">
								<div class="featured-projects-image">
									<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
								</div>
								<div class="featured-projects-content">
									<h1><a href="#">Dapibus facilisis</a></h1>
									<p>
										porta acean pulvinar
									</p>
								</div>
							</div>
						</li>
						<!--featured-projects 5-->
						<li>
							<div class="featured-projects">
								<div class="featured-projects-image">
									<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
								</div>
								<div class="featured-projects-content">
									<h1><a href="#">Nunc elementum</a></h1>
									<p>
										porta acean pulvinar
									</p>
								</div>
							</div>
						</li>
						<!--featured-projects 6-->
						<li>
							<div class="featured-projects">
								<div class="featured-projects-image">
									<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
								</div>
								<div class="featured-projects-content">
									<h1><a href="#">Dolor sit amet</a></h1>
									<p>
										porta acean pulvinar
									</p>
								</div>
							</div>
						</li>
						<!--featured-projects 7-->
						<li>
							<div class="featured-projects">
								<div class="featured-projects-image">
									<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
								</div>
								<div class="featured-projects-content">
									<h1><a href="#">HTML Theme</a></h1>
									<p>
										porta acean pulvinar
									</p>
								</div>
							</div>
						</li>
						<!--featured-projects 8-->
						<li>
							<div class="featured-projects">
								<div class="featured-projects-image">
									<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
								</div>
								<div class="featured-projects-content">
									<h1><a href="#">Salique bedroom</a></h1>
									<p>
										porta acean pulvinar
									</p>
								</div>
							</div>
						</li>
					</ul>
					<div class="clearfix">
					</div>
				</div>
			</div>
		</div>
	<!-- CALL TO ACTION 
		================================================== -->
		<div class="row space-bot">
			<div class="c12">
				<div class="wrapaction">
					<div class="c9">
						<h1 class="subtitles">Salique is incredibly awesome, with a refreshingly clean design</h1>
						We produce comprehensive mapping of consumers' relationships with communications across bought, owned & earned media based on bespoke insight. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit lacus mattis orci fermentum mollis iaculis.
					</div>
					<div class="c3 text-center" style="margin-top:40px;">
						<div class="actionbutton">
							<i class=" icon-download-alt"></i> DOWNLOAD NOW
						</div>
					</div>
				</div>
			</div>
		</div>

	</div><!-- end grid -->

<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->
	
</div>




<!-- JAVASCRIPTS
	================================================== -->
	<!-- all -->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- slider -->
	<script src="/assets/js/jquery.cslider.js"></script>

	<!-- cycle -->
	<script src="/assets/js/jquery.cycle.js"></script>

	<!-- carousel items -->
	<script src="/assets/js/jquery.carouFredSel-6.0.3-packed.js"></script>

	<!-- twitter -->
	<script src="/assets/js/jquery.tweet.js"></script>

	<!-- Call Showcase - change 4 from min:4 and max:4 to the number of items you want visible -->
	<script type="text/javascript">
		$(window).load(function(){			
			$('#recent-projects').carouFredSel({
				responsive: true,
				width: '100%',
				auto: true,
				circular	: true,
				infinite	: false,
				prev : {
					button		: "#car_prev",
					key			: "left",
				},
				next : {
					button		: "#car_next",
					key			: "right",
				},
				swipe: {
					onMouse: true,
					onTouch: true
				},
				scroll : 2000,
				items: {
					visible: {
						min: 4,
						max: 4
					}
				}
			});
		});	
	</script>

	<!-- Call opacity on hover images from carousel-->
	<script type="text/javascript">
		$(document).ready(function(){
			$("img.imgOpa").hover(function() {
				$(this).stop().animate({opacity: "0.6"}, 'slow');
			},
			function() {
				$(this).stop().animate({opacity: "1.0"}, 'slow');
			});
		});
	</script>
</body>
</html>