<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
	<title>Salique Theme Multipurpose Responsive </title>
<!-- STYLES & JQUERY 
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- change skin color -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>
	<script src="/assets/js/jquery-1.9.0.min.js"></script><!-- the rest of the scripts at the bottom of the document -->
</head>
<body>
	<div class="boxedtheme">
<!-- TOP LOGO & MENU
	================================================== -->
	<% include partials/header.ejs %>
	<!-- ================/TOP LOGO & MENU============= -->
	
<!-- HEADER
	================================================== -->
	<div class="undermenuarea">
		<div class="boxedshadow">
		</div>
		<div class="grid">
			<div class="row">
				<div class="c8">
					<h1 class="titlehead">SOS GUIDE: TSUNAMI</h1>
				</div>
				<div class="c4">
					<h1 class="titlehead rightareaheader"> </h1>
				</div>
			</div>
		</div>
	</div>
<!-- CONTENT
	================================================== -->
	<div class="grid">
		<div class="shadowundertop">
		</div>
		<div class="row">
			<div class="c12">
				<h1 class="maintitle ">
					<span>What to do before, during and after Tsunami?</span>
				</h1>
			</div>
		</div>
		<div class="row">
			
			<!-- begin description area -->
			<div >
				<p>
					<h2>BEFORE A TSUNAMI</h2> 
					<h6>
						<ul style="list-style-type:disc">
							
							
							<li>Establish whether your home and other places you frequent are in tsunami hazard areas.</li>
							<li>Know how high above sea level your street is and how far it is from the coast. Evacuation orders may be based on those figures.</li>
							<li>Cobble together an <a href="http://www.redcross.org/local/oregon/preparedness/resource-guide" target="_blank" rel="nofollow">emergency supplies kit</a>.</li>
							<li>Plan your escape and evacuation routes. From the Red Cross: "If possible, pick areas 100 feet (30 meters) above sea level or go as far as 2 miles (3 kilometers) inland, away from the coastline. If you cannot get this high or far, go as high or far as you can. Every foot inland or upward may make a difference. You should be able to reach your safe location on foot within 15 minutes."&nbsp;</li>
							<li>Practice evacuating.</li>
							<li>Know your children's school evacuation plans and figure out how to get them.</li>
							<li>Tourists should get familiar with evacuation information. &nbsp; &nbsp;</li>

						</ul>
					</h6>	
					
				</p>
				
				<p>
					<h2>DURING A TSUNAMI</h2> 
					<h6>
						<ul style="list-style-type:disc">
							
							
							
							<li>If there's an earthquake while you are on the coast and indoors, drop, cover and hold on. If you're outside, stay away from falling objects.</li>
							
							<li>When the shaking is over, move quickly to inland, higher ground. Go on foot if you can. Stay there until officials say it's all clear.</li>
							
							
							<li>Bring your animals if you evacuate. Bring your preparedness kit.</li>
							
							
						</ul>
					</h6>	
					
				</p>

				<p>
					<h2>AFTER A TSUNAMI</h2> 
					<h6>
						<ul style="list-style-type:disc">
							
							
							
							
							<li>Tell family and friends you're OK.</li>
							
							
							<li>Keep tuned in to official information sources or local media.</li>
							

							<li>Don't assume the danger is over after the first wave. The next one might be bigger.</li>
							
							
							<li>Call authorities if someone needs to be rescued.</li>
							
							
							<li>Help people such as the elderly, infants and people with disabilities.</li>
							
							
							<li>Stay away from disaster zones and out of buildings that have water around them.</li>
							
							
							<li>Be cautious when re-entering buildings and cleaning up.&nbsp;</li>
							
							
						</ul>
					</h6>	
					
				</p>
			</div><!-- end description area -->
			
			
		</div>
	</div><!-- end grid -->

<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->

</div>
<!-- JAVASCRIPTS
	================================================== -->
	<!-- all -->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- slider -->
	<script src="/assets/js/jquery.cslider.js"></script>

	<!-- cycle -->
	<script src="/assets/js/jquery.cycle.js"></script>

	<!-- carousel items -->
	<script src="/assets/js/jquery.carouFredSel-6.0.3-packed.js"></script>

	<!-- twitter -->
	<script src="/assets/js/jquery.tweet.js"></script>


	<!-- CALL flexslder -->
	<script>
// Can also be used with $(document).ready()
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "slide"
	});
});
</script>
</body>
</html>