<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
	<title>AYUDA </title>
<!-- STYLES & JQUERY 
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/skinblue.css"/><!-- change skin color -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css"/>
	<script src="/assets/js/jquery-1.9.0.min.js"></script><!-- the rest of the scripts at the bottom of the document -->
</head>
<body>
	<div class="boxedtheme">


	<!-- TOP LOGO & MENU
		================================================== -->
		<% include partials/header.ejs %>
		<!-- ================/TOP LOGO & MENU============= -->

<!-- HEADER
	================================================== -->
	<div class="undermenuarea">
		<div class="boxedshadow">
		</div>
		<div class="grid">
			<div class="row">
				<div class="c8">
					<h1 class="titlehead">SOS GUIDE: VOLCANIC ERUPTION</h1>
				</div>
				<div class="c4">
					<h1 class="titlehead rightareaheader"> </h1>
				</div>
			</div>
		</div>
	</div>

<!-- CONTENT
	================================================== -->
	<div class="grid" style="padding-top: 3%; ">
		<div class="row space-bot">
			<div class="c12">
				<div class="royalcontent">
					<h1 class="royalheader">What to do before, during and after Volcanic Eruption?</h1>
				</div>
			</div>
		</div>
		<h5 align="center">BEFORE A VOLCANIC ERUPTION</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">

					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Each one should be aware of the dangers that volcanic eruptions pose to lives and be prepared to face whatever circumstances the eruption may bring.</li>

							<li>Prepare all necessary things to bring once evacuation is needed. Those in danger zones are warned when to evacuate. Once given the signal refrain from saying you will be all right. Refusing to evacuate will pose more serious problems.</li>

							<li>Store as much food, water, light sources and batteries that are very useful in case of emergency.</li>
							<li>Volcanic eruptions have ash falls so be prepared for masks or anything to cover nose and mouth.</li>
							<li>Prioritize the safety of kids before other things. If you have relatives or friends who are far from the volcano, take your children there until such time that your place is safe.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<h5 align="center">DURING A VOLCANIC ERUPTION</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							li>Avoid all low-lying places because lava flows and mudflows are more likely to pass here.</li>

							<li>Seek cover in case of ash falls rock falls.</li>
							
							<li>Use masks and cover your mouth and nose to avoid breathing in ashes.</li>
							
							<li> If you are inside a house; close all doors and windows to avoid ashes from getting inside.</li>
							
							<li>Always stay indoors.</li>
							
							<li>Stay in the evacuation center until further instructions. Do not attempt to leave the place unless told to do.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<h5 align="center">AFTER A VOLCANIC ERUPTION</h5>
		<div class="row space-bot flex-center">
			<div class="c8">
				<div class="noshadowbox">
					<p>
						<ul style="list-style-type:disc;text-align: left;padding-left: 15px;">
							<li>Go back to your house but leave the kids behind someone who can take care of them while you check your house.</li>

							<li>Clean everything around and check all damages incurred.</li>
							
							<li>Use masks while cleaning ash and other debris.</li>
							
							<li>Wait for further announcements related to the volcano activities.</li>
							
							<li>Make sure that your house is still safe for all of you.</li>
							
						</ul>
					</p>
				</div>
			</div>
		</div>

	</div><!-- end grid -->

<!-- FOOTER
	================================================== -->
	<% include partials/footer.ejs %>
	<!-- =================/FOOTER===================== -->

</div>
<!-- JAVASCRIPTS
	================================================== -->
	<!-- all -->
	<script src="/assets/js/modernizr-latest.js"></script>

	<!-- menu & scroll to top -->
	<script src="/assets/js/common.js"></script>

	<!-- cycle -->
	<script src="/assets/js/jquery.cycle.js"></script>

	<!-- flexslider -->
	<script src="/assets/js/jquery.flexslider-min.js"></script>

</body>
</html>